/* Color palette: "japan9" [https://www.colourlovers.com/palette/765305/japan9] */

body {
  color: #C8D6BF;
  background-color: #1A1F1E;
}

a {
  color: #E3DFBA;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

hr {
  color: #6CBDB5;
}

#navbar {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-content: center;
  top: 0px;
  width: 100%;
  background-color: #6CBDB5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

#navbar ul {
  list-style-type: none;
}

#navbar li {
  display: inline;
  margin: 8em;
  padding: 1em;
}

#navbar li:hover {
  background-color: #93CCC6;
}

#navbar li a:hover {
  color: #FFFFFF;
}

@media screen and (max-width: 800px) {
  #navbar li {
    margin: 1em;
    padding: 0em;
  }
}

header {
  padding-top: 20vh; /*150px*/
}

@media screen and (max-width: 800px) {
  header {
    padding-top: 10vh;
  }
}

header h1 {
  font-family: 'Source Code Pro', monospace;
  color: #93CCC6;
  font-size: 48px;
  text-align: left;
}

#about h2, #projects h2, #contact h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;;
  color: #93CCC6;
}

header h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  text-align: right;
  color: #6CBDB5
}

#welcome-section {
  height: 80vh; /*497px*/
}

@media screen and (max-width: 800px) {
  #welcome-section {
    height: 100%;
  }
}

#welcome-section hr {
  margin: 48px;
}

#profile-pic img {
  display: block;
  position: relative;
  z-index: -1;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

#skills p {
  color: #E3DFBA;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: block;
  overflow: hidden;
}

#about, #projects, #contact {
  margin-top: 48px;
  text-align: center;
}

@media screen and (max-width: 667px) {
  #about, #projects, #contact {
    margin-top: 40px;
  }
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". ." ". .";
  gap: 48px 96px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 18px 18px;
  margin: 30px;
}

@media screen and (max-width: 720px) {
  .project-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
  }
}

.project-tile {
  display: block;
}

.project-tile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #E3DFBA;
  border-radius: 18px;
}

@media screen and (max-width: 667px) {
  .project-tile img {
    width: 100%;
  }
}

.project-tile p {
  text-align: center;
}

.project-tile caption {
  display: block;
}

#contact p {
  text-align: center;
}

#contact #list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

#list-inline li {
  padding: 7px;
}